body {
  font: 90% Helvetica, sans-serif;
  color: #333;

}
div {
  color:#333;
}
a.LinkButton {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 4px;
  border-color : #000000
}
#container {
	width: 1080px;
	background: #fff;
	margin: 0 auto;
	text-align: left;
}
#header {
	background: #fdb;
  margin-bottom: 3px;
}
#header h1 {
	margin: 0;
}

#mainContent {
  margin: 0 auto;
  margin-top: 100px;
  display: table;
  background: #FFFFFF;
}

img {
	height:119px;
 	padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 1px;
    padding-left: 8px;
}

input[type=text],
input[type=password],
input[type=email] {
    color: #777;
    width: 290px;
    margin: 5px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
input[type=submit] {
    float: left;
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f52), to(#f52));
    background-image: -moz-linear-gradient(top left 90deg, #f52 0%, #f52 100%);
    background-image: linear-gradient(top left 90deg, #7799ff 0%, #7799ff 100%);
    border-radius: 10px;
    border: 1px solid #f75;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}
input[type=submit]:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f20), to(#f20));
    background-image: -moz-linear-gradient(top left 90deg, #f20 0%, #f20 100%);
    background-image: linear-gradient(top left 90deg, #7799ff 0%, #7799ff 100%);
}

.textich{
  font-size: 20px;
}

td{
  padding: 5px;
}
th {
  padding: 5px;
}

.placanje{
  font-size: 15px;
}

textarea#styled {
	width: 290px;
	height: 300px;
	border: 1px solid #c7d0d2;
	padding: 5px;
  color: #777;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;

}
