body {
	font: 90% Helvetica, sans-serif;
  color: #333;
}
div {
  color:#333;
}
.container {
	width: 1080px;
	background: #fff;
	margin: auto;
  text-align: left;
}

#mainContent {
  margin: auto;
  padding: 50px;
  width:1050px;
}

.picture {
  height: 180px;
  border-radius: 5%;
  display: block;
  margin: auto;
}
#tab1{
	font-size: 15px;
}

#mainPodaci{
	font-size: 15px;
	padding: 50px;
	margin-left: 25%;

}
#mainPoruke{
	font-size: 15px;
	padding: 50px;
	margin-left: 20%;
}
//nevezano za index php
th,td {
	width: 4rem;
	height: 2rem;
	border: 1px solid #ccc;
	text-align: left;
	padding:15px;
}
th {
  background: lightblue;
  border-color: white;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed
}
img {
	height:110px;
}
.info-text{
	font-size: 15px;
}

.info-transakcija{
	font-size: 15px;
}
.detalji-transakcije{
	padding: 15px;
	font-size: 12px;
}
.levo{
	padding-left: 40%;
}
#poruka-header{
	padding: 10px;
}
#Kred, #Sted{
	font-size: 15px;
}
#mainNoRacun{
	font-size: 15px;
	padding: 50px;
	margin-left: 40%;
}

/*____________________________________________________________*/
