html, body {
    width: 100%;
    height: 100%;
    font: 90% Helvetica, sans-serif;
    background: white;
}

form {
    margin: 20px;
    margin-top: 50px;
}
label {
    color: #555;
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
    font-size: 14px;
}
input {
    font-size: 12px;
    outline: none;
}
#headerLogin {
    width: 480px;
    height: 125px;
    padding: 5px;
    padding-left: 10px;

}
.container {
    width: 500px;
    margin: auto;
    margin-top: 50px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #57f;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#registracija {
    width: 480px;
    height: 480px;
    float:right;
    overflow: hidden;
}

input[type=text],
input[type=password],
input[type=email] {
    color: #777;
    padding-left: 10px;
    width: 200px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
input[type=submit] {
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#57f), to(#57f));
    background-image: -moz-linear-gradient(top left 90deg, #57f 0%, #57f 100%);
    background-image: linear-gradient(top left 90deg, #7799ff 0%, #7799ff 100%);
    border-radius: 10px;
    border: 1px solid #79f;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}
input[type=submit]:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#35f), to(#35f));
    background-image: -moz-linear-gradient(top left 90deg, #35f 0%, #35f 100%);
    background-image: linear-gradient(top left 90deg, #7799ff 0%, #7799ff 100%);
}

.linija{
  margin: 5px;
  text-align: left;
}
.naslov{
  text-align: justify;
  padding: 10px;
  font-size: 20px;
}
