body
{
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}
/*custom navigation bar*/
/*main background #229922*/
.navbar-custom {
  background: #2b2e37;
  color: #ffffff;
  border-radius:0;
  font-size: 12px;
}
/*inactive links*/
.navbar-custom .navbar-nav > li > a {
  color: white;
}
/*hover*/
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
  color: lightblue;
  border-radius: 10px;
  background-color: black;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar-custom .navbar-brand {
  color: #eeeeee;
  padding: 10px;

}
/*sendvic*/
.navbar-custom .navbar-toggle {
  background-color:#black;
}
/*crte od sendvica*/
.navbar-custom .icon-bar {
  background-color: black;
}

.footer-stil{
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 14px;
}

#footer{
  background-color: black;
  color: white;
  height: 150px;
}
.title{
  padding: 20px;
}
.bottom-info{
  padding: 20px;
}

.naslov{
	text-align: center;
	padding-top: 50px;
}
.naslov h1{
	color: black;
}
#ispod-funkcija{
  text-align: center;
  padding: 30px;
}

#tecaj{
  padding-top: 50px;
}

#Sted{
  margin-top: 50px;
  padding: 50px;
  margin: 0 auto;
  margin-left: 250px;
}

#Kred{
  margin-top: 50px;
  padding: 50px;
  margin: 0 auto;
  margin-left: 250px;
}

.picture {
  height: 180px;
  border-radius: 5%;
  display: block;
  margin: auto;
}
.funkcija{
	background-color: #d4d4d4;
  text-align: center;
  float:left;
  padding-top: 50px;
  width:360px;
  height:500px;
	margin: 20px;
}
.funkcija a{
  text-decoration: none;
}
